.asinyo__home {
  &__banner {
    width: 100%;
    height: calc(100vh - calc(#{$header-height} + #{$nav-height}));
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.444),
        rgba(0, 0, 0, 0.544),
        rgba(0, 0, 0, 0.644)
      ),
      url("/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    padding: 0 $container-padding;
    margin-bottom: $section-space;
    @include flexbox;
    flex-direction: column;
    justify-content: center;
    @include respond-down(sm) {
      padding: 0 $container-padding-sm;
    }
    &__cta {
      width: 69%;
      margin-bottom: 6rem;
      color: $white;
      & > h2 {
        font-size: 4rem;
        font-weight: bold;
        line-height: 1.1;
      }
      & > p {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 200;
      }

      @include respond-down(sm) {
        width: 85%;
        margin-bottom: 3rem;
        & > h2 {
          font-size: 3rem;
        }
        & > p {
          margin-top: 2rem;
          font-size: 1.8rem;
          font-weight: 200;
        }
      }
      @include respond-down(xs) {
        width: 100%;
        margin-bottom: 3rem;
        & > h2 {
          font-size: 3.5rem;
        }
        & > p {
          margin-top: 3rem;
          font-size: 2rem;
          font-weight: 200;
        }
      }
    }
    @include respond-down(xs) {
      height: calc(100vh - calc(#{$header-height-mobile} + #{$nav-height}));
      background-position: top center;
    }
  }
  &__merchant {
    padding: 0 $container-padding;
    margin-bottom: $section-space;
    @include respond-down(sm) {
      padding: 0 $container-padding-sm;
    }
    &__header {
      margin-bottom: 3rem;
      & > p {
        font-size: 1.6rem;
        margin: 2.5rem 0;
      }
    }
    &__merchants {
      & > .mobile__portrait {
        display: none;
        @include respond-down(xs) {
          display: block;
        }
      }
      & > .s__row {
        @include respond-down(xs) {
          display: none;
        }
        @include respond-up(sm) {
          display: block;
        }
        & > .s__col {
          @include respond-down(xs) {
            &:nth-child(n + 5) {
              display: none;
            }
          }
        }
      }
    }
  }

  &__category {
    padding: 0 $container-padding;
    margin-bottom: $section-space;
    @include respond-down(sm) {
      padding: 0 $container-padding-sm;
    }
    &__header {
      margin-bottom: 2rem;
    }
    &__categories {
      & > .s__row {
        & > .s__col {
          @include respond-down(xs) {
            &:nth-child(n + 5) {
              display: none;
            }
          }
        }
      }
    }
  }
  &__best__seller {
    background-color: $tertiary;
    margin-bottom: $section-space;
    padding: 2rem 0;
    @include respond-down(sm) {
      padding: 2rem 0;
    }
    &__header {
      padding: 0 $container-padding;
      margin-bottom: 2rem;
      @include respond-down(sm) {
        padding: 0 $container-padding-sm;
      }
    }
    &__products {
      width: 100%;
      padding: 0 $container-padding;
      @include grid-row;
      @include respond-down(sm) {
        padding: 0 $container-padding-sm;
      }
      &__card {
        @include grid-column(20%, 30rem, #{$column-gutter});
        &:nth-child(5n + 5) {
          margin-right: 0;
        }

        @include respond-down(sm) {
          @include grid-column(25%, 38rem, #{$column-gutter});
          &:nth-child(n + 9) {
            display: none;
          }
          &:nth-child(n + 4) {
            margin-right: 0;
          }
        }
        @include respond-down(xs) {
          @include grid-column(50%, 38rem, #{$column-gutter});
          &:nth-child(n + 5) {
            display: none;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
  }
  &__all__products {
    padding: 0 $container-padding;
    margin-bottom: $section-space;
    @include respond-down(sm) {
      padding: 0 $container-padding-sm;
    }
    @include respond-down(xs) {
      padding: 0 1rem;
    }
    &__header {
      margin-bottom: 2rem;
    }
    &__sub__header {
      margin-bottom: 2rem;
    }
    &__content {
      width: 100%;
      @include grid-row;

      &__card {
        @include grid-column(20%, 30rem, 1.3rem);
        &:nth-child(5n + 5) {
          margin-right: 0;
        }
        @include respond-down(sm) {
          @include grid-column(25%, 35rem, 1.3rem);
          &:nth-child(n + 5) {
            display: none;
          }
          &:nth-child(4n) {
            margin-right: 0;
          }
        }
        @include respond-down(xs) {
          @include grid-column(50%, 38rem, 1.3rem);
          &:nth-child(n + 5) {
            display: none;
          }
          &:nth-child(n + 2) {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__faq {
    background-color: $tertiary;
    padding: 10rem 0;
    &__content {
      padding: 0 calc(#{$container-padding} + 10rem);
      @include respond-down(sm) {
        padding: 0 calc(#{$container-padding-sm} + 5rem);
      }
      @include respond-down(xs) {
        padding: 0 1rem;
      }
    }
  }
}
